@media screen and (max-width: 1024px) {
	article {
		width: 90%;
	}

	.icon1, .icon2 {
		display: none;
	}

	.one {
		float: none;
		width: 100%;
		margin: 0px;
		margin-bottom: 50px;
	}

	.program {
		height: 100%;
	}

.cell {
	display: block;
	width: 70%;
	margin: 0px auto 20px auto;

	}

}


@media screen and (max-width: 768px) {

	.wheel {
		width: 70%;
		margin-left: -100px;
		top: 50%;
	}

	.explain {
		width: 100%;
	}

	.text h4 {
		max-width: 250px;
		
	}
	.text {
		text-align: center;
	}

	.sec4__imCenSM {
		display: none;
		
	}
.sec4 {
    height: auto;
    padding-bottom: 60px;
}
.sec4__title {
    font-size: 22px;
}

.container {
	float: none;
	height: 100%;
	margin: 0;
	display: block;
	width: 90%;

}
.sec5__box {
	border: 2px ridge #000000;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
}

.sec4__imCen {
	display: none;
}

.sec4 .container {
	display: inline-block;
	width: 100%;
}

.sec4__box {
		float: none;
		height: 100%;
		display: block;
		position: relative;
		margin: 40px auto 0 auto;
	    top: 0;
	    left: 0;
	    right: 0;

}

.sec5__title {
    
    font-size: 21px;
    padding: 34px 0px 34px 30px;
}
}
